name: Build & Deploy

on:
  push:
    branches: [ main ]
    paths:
      - "apps/backend/**"
      - "apps/backend/Dockerfile"
      - "apps/backend/docker-compose.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/backend/Dockerfile
          platforms: linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository }}:buildcache,mode=max

      - name: Upload docker-compose
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "./apps/backend/docker-compose.yml"
          target: "/home/ubuntu/loopin/"
          strip_components: 3

      - name: Deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            mkdir -p /home/ubuntu/loopin
            echo "${{ secrets.ENV_FILE }}" > /home/ubuntu/loopin/.env
            cd /home/ubuntu/loopin
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose pull api
            docker compose up -d --no-deps --force-recreate --scale api=2 api
            docker compose run --rm --entrypoint "" api \
              sh -c "pnpm dlx prisma@6.17.1 db seed --schema ./prisma/schema.prisma"